body::before {
  content: '';
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/images/body_pattern.png');
  background-repeat: repeat;
  background-size: contain;
  opacity: 0.03;
//   z-index: -1;
}

.container {
	position: relative;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	padding: 30px;
	width: 100%;

	.circleloader {
		position: absolute;
		box-sizing: border-box;
		top: 50%;
		margin-top: -10px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 16px;
		width: 50%;
		height: 20px;
		padding: 4px;
		background-color: rgb(75, 75, 75);

		&:before {
			content: "";
			position: absolute;
			border-radius: 16px;
			width: 30px;
			height: 12px;
			left: 0;
			background: rgb(166, 136, 0);
			animation: push 2s infinite linear;
		}
	}
}

@keyframes push {
	50% {
		left: 90%;
	}
}
